body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: white;
}

.winText, .loseText {
    font-size: 5rem;
    padding: 2rem;
    color: white;
}

.colorTest {
    color: rgba(255, 41, 41, 0.808);
}

#container {
    text-align: center;
}

#resultBox {
    display: none;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 110vh;
    margin-top: -5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.try, .counter {
    padding: 1rem;
    width: 10rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}
.counter {
    background-color: limegreen;
}
.try {
    background-color: rgb(108, 83, 255);
}
.try::before {
    content: 'Tried: ';
    font-weight: bold;
}
.counter::before {
    content: 'Won: ';
    font-weight: bold;
}

.continue {
    color: white;
}

#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#boxes > * {
    display: flex;
    gap: 1rem;
}
.box {
    background-color: rgb(213, 255, 225);
    padding: 4rem 10rem;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.box:hover {
    background-color: rgb(65, 255, 119);
    border-radius: 0.2rem;
    padding: 0rem 9rem
}