body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: white;
}

.winText, .loseText {
    font-size: 5rem;
    padding: 2rem;
    color: rgb(0, 0, 0);
}

_color-picker {
    color: rgba(43, 255, 0, 0.411);
}

#container {
    text-align: center;
}

#resultBox {
    display: none;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 110vh;
    margin-top: -5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.try, .counter {
    padding: 1rem;
    width: 10rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}
.counter {
    background-color: limegreen;
}
.try {
    background-color: rgb(108, 83, 255);
}
.try::before {
    content: 'Tried: ';
    font-weight: bold;
}
.counter::before {
    content: 'Won: ';
    font-weight: bold;
}

.continue {
    color: rgb(0, 0, 0);
}

#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 2rem;
    width: auto;
}
#boxes > * {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box {
    background-color: rgb(213, 255, 225);
    padding: 4rem 10rem;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.box:hover {
    background-color: rgb(65, 255, 119);
    border-radius: 0.2rem;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .box {
        padding: 2rem 5rem;
    }
}
@media screen and (max-width: 500px) {
    .box {
        padding: 1rem 2rem;
    }
}

.afterContent {
    display: none;
    background-color: crimson;
    padding: 1rem;
    width: 10rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.try-limit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.try-limit p {
    font-weight: bold;
}

.try-limit input {
    background-color: rgb(219, 219, 219);
    padding: 0.5rem 1rem;
    outline: 0;
}

#input-submit {
    padding: 0.5rem 1rem;
    background-color: crimson;
    cursor: pointer;
}